{% extends "base.html" %} {% block content %}
<!-- Kategori -->
<section id="kategori" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Kategori Produk</h2>
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        src="static/cat_computer.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Computer</h5>
                        <p class="card-text">
                            Dari Mikrokomputer sampai Komputer Machintosh.
                        </p>
                        <a href="#" class="btn btn-outline-primary"
                            >Lihat Produk</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        src="static/cat_videogame.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Video Game</h5>
                        <p class="card-text">
                          Cari Video Game Retro kesayanganmu! 
                        </p>
                        <a href="#" class="btn btn-outline-primary"
                            >Lihat Produk</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        src="static/cat_console.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Video Game Console</h5>
                        <p class="card-text">
				NES,SNES,ATARI, bahkan Sega Genesis kita ada lho!
                        </p>
                        <a href="#" class="btn btn-outline-primary"
                            >Lihat Produk</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        src="static/cat_tv.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Television</h5>
                        <p class="card-text">
			Macam-Macam TV Cathode kami ada!
                        </p>
                        <a href="#" class="btn btn-outline-primary"
                            >Lihat Produk</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        src="static/cat_radio.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Radio</h5>
                        <p class="card-text">
			Radio Analog yang menemani hari-hari anda, kami juga ada.
                        </p>
                        <a href="#" class="btn btn-outline-primary"
                            >Lihat Produk</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        src="static/cat_cellphone.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Cellphone</h5>
                        <p class="card-text">
			Telepon gengam era 80 sampai 90 kami juga ada!
                        </p>
                        <a href="#" class="btn btn-outline-primary"
                            >Lihat Produk</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        src="static/cat_cassette.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Cassette</h5>
                        <p class="card-text">
                            Kaset Pita lagu-lagu favorite mu di era 80-an juga ada!
                        </p>
                        <a href="#" class="btn btn-outline-primary"
                            >Lihat Produk</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        src="static/cat_vhs.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">VHS</h5>
                        <p class="card-text">
                            kaset VHS era 80 sampai 90-an kami tersedia disin!
                        </p>
                        <a href="#" class="btn btn-outline-primary"
                            >Lihat Produk</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        src="static/cat_arcade.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Arcade Machine</h5>
                        <p class="card-text">
                            Ingin punya mesin arkade sendiri? kami juga ada!
                        </p>
                        <a href="#" class="btn btn-outline-primary"
                            >Lihat Produk</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        src="static/cat_camera.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Cameras</h5>
                        <p class="card-text">
				Kamera-Kamera yang masih pakai pita film ? kamu juga punya!
                        </p>
                        <a href="#" class="btn btn-outline-primary"
                            >Lihat Produk</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        src="static/cat_walkman.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Media Player</h5>
                        <p class="card-text">
                            dari Walkman sampai CD Player saku kami juga ada!
                        </p>
                        <a href="#" class="btn btn-outline-primary"
                            >Lihat Produk</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
